html, body {
  height: 100%; 
  margin: 0; 
  padding: 0;
}

h1{
  text-align: center; 
}
h1 div{
  /*font-family: 'Zilla Slab Highlight', cursive;*/
  font-family: 'Bevan', sans-serif;
  color: #4E7F7F; 
  font-size: 70px;
  text-decoration: underline #7DCDCD;
}

#title-one{
  width: 400px; 
  font-size: 90px;
  margin-left: 40px;  
}

#title-two{
  margin-left: 50px; 
}

#intro{
  margin-bottom: 50px;
}

#sub-title {
  margin: 25px;
  font-size: 20px;
  text-align: center;
  color: white; 
  background-color: #cdcd7d;
  padding: 5px; 
}

#sub-title span{
  color: white;
  background-color: #7dcdcd; 
  font-size: 20px; 
}

h2 {
  color: #7DCDCD; 
  text-decoration: underline #cdcd7d;
  font-family: 'Bevan', sans-serif;
}

h3 {
  color: #4E7F7F;
}
#art-map { 
    height: 100%; 
    background-color: pink;  
}
form {
    margin: 20px; 
}
.ui-widget {
  margin: 20px; 
}

.row{
  height: 100%;
}

ul{
  background-color: white; 
  border: 1px solid #cdcd7d; 
  list-style-type: none;
  width: 202px; 
  padding: 0; 
}
.ui-autocomplete-input:focus{
    background-color: #e5f5f5; 
}

ul li {
  color: #4E7F7F;
  width: 200px;
  padding: 10px;
  font-size: 14px; 
}

ul li:nth-child(odd) {
  background-color: #e5f5f5; 
}

#buttons button{
  width: 100%; 
}

#buttons{
  width: 70%;
  margin: 0 auto; 
}

#buttons h3{
  margin-left: -50px;
  margin-bottom: 50px; 
  text-align: center; 
}

#buttons button:first-child{
  margin-top: 100px; 
  margin-bottom: 50px; 
  
}


#not-map{
  box-shadow: -8px -7px 10px 0px rgba(203, 203, 203, 0.58); 
  height: 100%; 
}

#crt-walk li{
  margin-bottom: 50px; 
}

#crt-walk h2{
  margin-bottom: 50px; 
}
#crt-walk{
  margin-top: 50px; 
  color: #4E7F7F;
}

#marker-lst{
  width: 300px; 
}
#marker-lst li {
  margin-bottom: 20px; 
  font-size: 16px;
  padding: 10px;
  background-color: #cdcd7d; 

}

button{
    color: white;
    background-color: #7dcdcd; 
}


button:hover{
  color: #7dcdcd;
  background-color: white; 
  border: 2px solid #7dcdcd; 
}

#dir-btn{
  color: white;
  background-color: #7dcdcd; 
}

#dir-btn:hover{
  color: #7dcdcd;
  background-color: white; 
  border: 2px solid #7dcdcd; 
}

#rand-walk{
  margin-top: 50px; 
  color: #4E7F7F;
  font-size: 20px;
}

#rand-walk h2{
  margin-bottom: 50px; 
}

#rand-info{
  color: #7dcdcd;
  /*margin-top: 40px; */
}

.submit{
  color: white;
  background-color: #7dcdcd; 
}

.submit:hover{
  color: #7dcdcd;
  background-color: white; 
  border: 2px solid #7dcdcd; 
}
