<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        html, body {
             height: 100%; 
             margin: 0; 
             padding: 0; 
        }
        #art-map { 
            height: 75%; 
            background-color: pink;  
        }
        form {
            margin: 20px; 
        }
        .ui-widget {
          margin: 20px; 
        }
    </style>
</head>

<body>
    <h1>SF Civic Art</h1>
    <div id="art-map"></div>
    <form action="#" hidden>
        <label for="artist">Seach by Artist Name:</label>
        <input type="text" name="artistname" id="artist">
        <input type="submit" value="Submit">
    </form>
    <div class="ui-widget">
      <label for="tags">Seach by Artist Name: </label>
      <input id="tags" method="post">
      <input type="submit" id="submit-name" value="Submit">
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      var map;

      var markers = []; 
      // Sets the map on all markers in the array.
      //https://developers.google.com/maps/documentation/javascript/examples/marker-remove
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      function initMap() {
        map = new google.maps.Map(document.getElementById('art-map'), {
          center: {lat: 37.7748, lng: -122.435},
          zoom: 13
          
        });

        map.setOptions({styles:[{elementType: 'geometry', stylers: [{color: '#242f3e'}]},
          {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
          {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
        {
          featureType: 'administrative.locality',
          elementType: 'labels.text.fill',
          stylers: [{color: '#d59563'}]
        },
        {
          featureType: 'poi',
          elementType: 'labels.text.fill',
          stylers: [{color: '#d59563'}]
        },
        {
          featureType: 'poi.park',
          elementType: 'geometry',
          stylers: [{color: '#263c3f'}]
        },
        {
          featureType: 'poi.park',
          elementType: 'labels.text.fill',
          stylers: [{color: '#6b9a76'}]
        },
        {
          featureType: 'road',
          elementType: 'geometry',
          stylers: [{color: '#38414e'}]
        },
        {
          featureType: 'road',
          elementType: 'geometry.stroke',
          stylers: [{color: '#212a37'}]
        },
        {
          featureType: 'road',
          elementType: 'labels.text.fill',
          stylers: [{color: '#9ca5b3'}]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry',
          stylers: [{color: '#746855'}]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry.stroke',
          stylers: [{color: '#1f2835'}]
        },
        {
          featureType: 'road.highway',
          elementType: 'labels.text.fill',
          stylers: [{color: '#f3d19c'}]
        },
        {
          featureType: 'transit',
          elementType: 'geometry',
          stylers: [{color: '#2f3948'}]
        },
        {
          featureType: 'transit.station',
          elementType: 'labels.text.fill',
          stylers: [{color: '#d59563'}]
        },
        {
          featureType: 'water',
          elementType: 'geometry',
          stylers: [{color: '#17263c'}]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.fill',
          stylers: [{color: '#515c6d'}]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.stroke',
          stylers: [{color: '#17263c'}]
        }]});

        

        // retrieves artpiece info wiht AJAX
        $.get("/coordinates", function(coordinates){
            for(var i in coordinates){
              coord = coordinates[i]
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(coord[0], coord[1]),
                map: map,
                title: "art"
              });
              markers.push(marker); 
            }
        });//end of $.get 

      } //end of initMap

       $( function() {
          var artists_names = []
          $.get("/artistnames", function(names){
            artists_names = names.slice()
            $( "#tags" ).autocomplete({
              source: artists_names
            });
          }); 
        } );

       $("#submit-name").on("click", function(evt){
          evt.preventDefault()
          setMapOnAll(null);
          markers = []; 
          var artistname = $("#tags").val()
          $.post("/pieces-by-artist",{ "artist": artistname}, function(data){
            artpieces = data["results"]
            for(var i in artpieces){
              ap = artpieces[i];
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(ap["coords"][1], ap["coords"][0]),
                map: map,
                title: ap["title"]
              });
              markers.push(marker); 
            }  
          }) //end of post request 
       })

      // https://jqueryui.com/autocomplete/
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtKiwRX-zLzkYEixhVxUlRPxdj0AKxRCM&callback=initMap"
    type="text/javascript">
    </script>
</div>
</body>
</html>